<head>
	
	<title>Sitemap :: RBlog</title>

	<link href="/assets/templatemo_style.css" rel="stylesheet" type="text/css" />
	<link href="assets/shadow.css" media="screen" title="shadow" rel="stylesheet" type="text/css" />
	
	<style type="text/css">
	
		#templatemo_menu ul li #sitemap {
			
			height: 38px;
			padding-top: 10px;
			color: #fff;
			background: url(/assets/templatemo_menu_hover.png) bottom no-repeat;
			
		}
		
		a {
			
			text-decoration: none;
			
		}
		
	</style>
	
</head>

<body>

    <div id="templatemo_right_column">
    
    	<% authors = 1; %>
    	<% @authors.each do |author| %>
    	
        	<div id="templatemo_main">
        
            	<h2> <%= "#{authors}. #{author}" %> </h2>
            
            	<div id="gallery">
                
                	<ul>
                
                		<% post_titles = 1; %>
                		<% Rblog.post_titles(author).each do |rpost| %>
                    		
                    		<li style="padding: 5px; margin: 5px; margin-left: 10px;">
                        		
                        		<%= link_to("#{post_titles}. #{rpost.post_title}", {:controller => 'rblog', :action => 'blog_post', :postStatus => 'show', :postId => "#{rpost.id}"}) %>
                        		
                    		</li>
                    		
                    		<% post_titles += 1; %>
                    		
                    	<% end %>
                 
                	</ul>
            
            	</div> <!-- end of gallery -->
        
        	</div> <!-- end of main -->
        	
        	<% authors += 1; %>
        	
        <% end %>
        
        <div class="cleaner"></div>
    
    </div>  <!-- end of right column -->

</body>
